body {
    background-image: url("images/brickwall.png");
}

.nav-wrapper {
    background-color: black;
}

.navText {
    color: white;
}

#name {
    text-align: center;
    font-size: 22px;
}

.container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
}

#recent,
th {
    font-size: 18px;
    font-weight: bold;
}

#div1 {
    border: solid 2px;
    max-width: 400px;
    max-height: 500px;
}

.box {
    display: block;
    width: 100%;
    height: 750px;
}


img {
    width: 100%;
    height: auto;
}


.btn {
    margin-bottom: 10px;
    background-color: #ccc;
    color: black;
}

#analysisButton {
    margin-top: 10px;
    background-color: #ccc;
    color: black;
}

#emotions {
    font-weight: bold;
    font-size: 16px;
}



/*a:hover+.box,*/

/*.box:hover {*/

/*    display: block;*/

/*    position: relative;*/

/*    z-index: 100;*/

/*}*/
