body {
    background: url("images/brickwall.png");
    font-family: 'Vollkorn SC', serif;

}

.container {
    width: 97%;
    /*padding-left: 10px;*/
    /*padding-right: 20px;*/
    margin: auto;

}

/*Top of Page Container holding #polimotions img*/

.black {
    /*height: 30px;*/
    background-color: black;
    z-index: 2000;

}

nav {
    height: 165px;
}


.nav-wrapper {
    background: white;
    background-size: cover;
    background-position: center;
    border-bottom: 4px double black;
}

#polimotions {
    font-family: 'Vollkorn SC', serif;
    font-size: 90px;
    color: black;
    position: relative;
    top: 40px;
}


/*Date Container and Text*/

.belownavdiv {
    border-bottom: 4px double black;
}

#toptext {
    font-size: 15px;
    font-family: 'Convergence', sans-serif;
    position: relative;
    /*left: 480px;*/
    text-align: center;
}

/*SideNav*/

#recent {
    font-size: 18px;
    font-weight: bold;
}

#slide-out {
    font-family: 'Vollkorn SC', serif;
}

#aboutNav,
#instructionsNav,
#recentNav {
    padding: 20px;
    line-height: 140%
}

#recentNav,
#resourcesNav {
    text-align: center;
}

#resourcesNav {
    line-height: 100%;
    padding: 0px;

}

/*Title of Image Container - appears after user hits search button*/

#name {
    text-align: center;
    font-size: 22px;
    /*border-right: 4px double #e0e0e0;
    */
}

/*Image and Analysis Results Container*/

.divneed {
    border-right: 2px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    /*position: relative;*/
    /*bottom: 30px;*/
}

#dropbox {
    border-bottom: 4px double #e0e0e0;
    border-top: 4px double #e0e0e0;
    max-width: 450px;
    height: 400px;
    margin: auto;
}



/*Top Articles Title and Collapsible Dropdown Containers*/

.divider {
    background-color: white;
    border-bottom: 4px double #e0e0e0;
    /*position: relative;*/
    /*right: 7%;*/
}

.collapsible-header {
    /*background: url();*/
    background-size: cover;
    border-bottom: 4px double #e0e0e0;
}

.collapsible {
    /*position: relative;*/
    width: 100%;
    right: 30px;
}

.lastheader {
    border-bottom: none;
}



/*Buttons*/

.btn {
    margin-bottom: 10px;
    background-color: #ccc;
    color: black;
}

#run-search {
    float: left;
}

#resetDiv {
    margin-top: 10px;
}

#analysisButton {
    margin-top: 10px;
    /*    background-color: #ccc;*/
    /*    color: black;*/
}


/*Do we need this img anymore???*/

img {

    width: 100%;

    height: auto;
}

/*}*/

.box {

    display: block;

    width: 100%;

    height: 750px;

}

/*#menu {*/

/*    bottom: 20px;*/

/*    background-color: black;*/

/*}*/

.tap-target {

    background: white;

    color: black;

    line-height: 25px;

}

.tap-target-origin {

    top: 15%;

    left: 31%;

}

.tap-target-content {

    position: relative;

    top: 100px;

}


/*h5 {*/

/*    position: relative;*/

/*    bottom: 80px;*/

/*    left: 60px;*/

/*}*/

/*#about {*/

/*    position: relative;*/

/*    bottom: 60px;*/

/*    right: 20px;*/

/*    width: 350px;*/

/*}*/

/*.collapsible {*/

/*    position: relative;*/

/*    width: 100%;*/

/*    right: 30px;*/

/*    border-style: none;*/

/*}*/

/*a:hover+.box,*/

/*.box:hover {*/

/*    display: block;*/

/*    position: relative;*/

/*    z-index: 100;*/

/*}*/
