#div1 {
    border: solid 2px;
    max-width: 400px;
    max-height: 500px;
}

.box {

    display: none;

    width: 500px;

    height: 500px;

}

/*a:hover+.box,*/

/*.box:hover {*/

/*    display: block;*/

/*    position: relative;*/

/*    z-index: 100;*/

/*}*/
